@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  @apply text-16 text-white bg-black leading-none;
}

#root {
  @apply flex flex-col min-h-screen;
}

@screen md {
  #root {
    @apply px-20 pb-20;
  }

  body {
    @apply text-18;
  }
}

::-ms-clear {
  display: none;
}

:active {
  -webkit-tap-highlight-color: transparent;
}

::-ms-clear {
  display: none;
}

button:focus,
:focus {
  outline: none;
}
