.btn {
  @apply flex justify-center items-center leading-none rounded;

  &-primary {
    @apply bg-yellow text-black text-24 px-15 py-13;

    &:disabled {
      @apply bg-gray-100 text-white;
    }
  }

  &-secondary {
    @apply bg-green-200 text-12 px-13 py-6 flex-grow shadow;
  }
}

.bg-phone,
.bg-card {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.bg-phone {
  top: 0.6rem;
  right: 1.6rem;
  width: 23rem;
}

.bg-card {
  width: 26rem;
  top: 0.6rem;
  right: 10.6rem;
  transform-origin: left top;
  transform: translateX(40%) rotateZ(60deg);
}

.form-input {
  @apply bg-green-200 p-12 rounded;
  line-height: 1.3;

  &::placeholder {
    @apply text-gray-200;
  }
}

.passport-badge {
  @apply flex items-center absolute text-12 py-7 px-12 bg-green-300 rounded-lg rounded-r-none;
  user-select: none;
  pointer-events: none;
  width: 12.4rem;
  top: 1.5rem;
  right: 0;
}

.card {
  @apply mx-24 flex flex-col items-center text-center p-20 bg-green-300 rounded;
}

@screen sm {
  .btn {
    @apply p-16;

    &-secondary {
      @apply text-14 pr-12;
    }
  }

  .bg-phone {
    width: 30rem;
    top: 0;
  }

  .bg-card {
    right: 15.6rem;
    bottom: 2rem;
    width: 30rem;
  }

  .card {
    @apply self-center max-w-420 w-full;
  }
}

@screen md {
  .bg-phone {
    width: auto;
    top: 0;
  }

  .bg-card {
    z-index: 1;
    top: auto;
    bottom: 0;
    width: 35rem;
    transform-origin: left bottom;
    transform: rotateZ(-30deg);
  }

  .form-input {
    @apply py-17;
    line-height: 1;
  }

  .passport-badge {
    @apply text-18 text-center;
    width: 25.6rem;
    top: 3rem;
  }

  .card {
    @apply p-60 max-w-610;
  }
}
